{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
.product-card {
   margin-bottom: 20px;

}

.product-card h5 {
   margin-bottom: 0;
}

.product-card h5 a {
   text-decoration: none;
   color: black;
}

.product-card h6, .product-card input[type="hidden"], .product-card a {
   margin-top: 25px;

}

.product-card a i {
   font-size: 20px;
   margin-right: 5px;

}

   .card-img-top {
  max-width: 65%;
  height: auto;
}
.product-card a.disabled {
   cursor: not-allowed;
   opacity: 0.5;
}
.product-card a {
    padding: 0 45px;
}

</style>


<main class="container my-4">
<!-- Filters -->
			{% include 'filters.html' %}
	<div class="container px-4 px-lg-5 mt-5 text-center">
        <div >
            <h2 class="mx-auto my-0 section-heading text-uppercase"></h2>
        </div>
        <div class="row mx-auto mt-5 ">
			<div class="row" id="filteredProducts">
				<p class="ajaxLoader">Loading...</p>
				{% for product in data %}
				<div class="col-lg-3 col-md-6 mb-4 product-box">
						<div class="product-card">
					  <a href="/product/{{product.slug}}/{{product.id}}"><img src="/media/{{product.productattribute_set.first.image}}" class="card-img-top mx-auto" alt="{{product.title}}"></a>
					    <h5 class="card-text"><a href="/product/{{product.slug}}/{{product.id}}">{{product.title}}</a></h5>
					    <h6>$ <span class="product-price-{{product.id}}">{{product.productattribute_set.first.price}}</span></h6>
				          <input type="hidden" value="1" class="form-control product-qty-{{product.id}}" id="productQty" />
				          <input type="hidden" class="product-image-{{product.id}}" value="{{product.productattribute_set.first.image}}" />
				          <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
				          <input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}" />
							  {% if user.is_authenticated %}
<a class="add-to-cart mr-2" data-index="{{product.id}}"><i class="fa fa-shopping-cart"></i></a>
<a class="add-wishlist ml-2" data-product="{{product.id}}"><i class="fa fa-heart"></i></a>
{% else %}
<a class="disabled"><i class="fa fa-heart"></i></a>
{% endif %}
					  	</div>
				</div>
				{% endfor %}
			</div>
			<p class="my-4 text-center"><a id="loadMore" data-total="{{total_data}}" data-limit="6" class="btn-sm"><i class="fa fa-sync load-more-icon"></i></a></p>
		</div>
	</div>
</main>
{% endblock %}