{% extends 'new_base.html' %}
{% load static %}
{% block content %}
<style>
.product-card {
   margin-bottom: 20px;

}

.product-card h5 {
   margin-bottom: 0;
}

.product-card h5 a {
   text-decoration: none;
   color: black;
}

.product-card h6, .product-card input[type="hidden"], .product-card a {
   margin-top: 30px;

}

.product-card a i {
   font-size: 20px;
   margin-right: 5px;

}

   .card-img-top {
  max-width: 70%;
  height: auto;
}
.product-card a.disabled {
   cursor: not-allowed;
   opacity: 0.5;
}
</style>
<!-- Masthead-->
        <header class="masthead" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url('media/assets/img/bg-masthead.jpg');">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">The mysterious beauty</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">Ukrainian perfume brand</h2>
                        <a class="btn btn-primary" href="{% url 'product-list' %}">Find something for yourself</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">REMINDER</h2>
                        <p class="text-white-50">
                        Every person is unique like their scent. They can change your mood, inspire, even bring back memories of moments from the past. Feel more confident and attractive thanks to the scents from Fragrantia.
                        <h2 class="text-white mb-4">FROM THE FOUNDER</h2>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="media/assets/img/bg-masthead.jpg" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Our story</h4>
                            <p class="text-black-50 mb-0">Fragrantia is the story of how passion for creating the best fragrances turns into true art. Our company was founded out of love for perfumery and the desire to create unique scents that remain in memory forever.</p>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="media/assets/img/demo-image-01.jpg" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Our products</h4>
                                    <p class="mb-0 text-white-50">At Fragrantia, we offer a wide selection of the best fragrances for men and women. Our perfumes are made using only the best ingredients, which guarantees the persistence of the aroma throughout the day.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="media/assets/img/demo-image-02.jpg" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Our values</h4>
                                    <p class="mb-0 text-white-50">At Fragrantia, we believe that perfume is more than just a way to smell good. It is an art that can evoke emotions, emphasize our individuality and express our personality. We strive to help each person find their own unique fragrance and feel special.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<section class="page-section bg-brown" id="portfolio">
    <div class="container px-4 px-lg-5 mt-5 text-center">
        <div >
            <h2 class="mx-auto my-0 section-heading text-uppercase">New</h2>
        </div>
        <div class="row mx-auto mt-5 ">
            {% for product in data %}
				<div class="col-lg-4 col-md-6 mb-4 product-box">

						<div class="product-card">
					  <a href="/product/{{product.slug}}/{{product.id}}"><img src="/media/{{product.productattribute_set.first.image}}" class="card-img-top mx-auto" alt="{{product.title}}"></a>

					    <h5 class="card-text"><a href="/product/{{product.slug}}/{{product.id}}">{{product.title}}</a></h5>
					    <h6>$ <span class="product-price-{{product.id}}">{{product.productattribute_set.first.price}}</span></h6>


				          <input type="hidden" value="1" class="form-control product-qty-{{product.id}}" id="productQty" />
				          <input type="hidden" class="product-image-{{product.id}}" value="{{product.productattribute_set.first.image}}" />
				          <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
				          <input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}" />
							  	{% if user.is_authenticated %}
<a class="add-wishlist" data-product="{{product.id}}"><i class="fa fa-heart"></i></a>
{% else %}
<a class="disabled"><i class="fa fa-heart"></i></a>
{% endif %}
							  	<span class="float-right">
							  		4.5/5
							  		<i class="fa fa-star text-warning"></i>
							  	</span>

					  	</div>

				</div>
				{% endfor %}
			</div>
          </div>
	</div>
</section>


<!-- Signup-->
       <section class="signup-section" id="signup" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%), url('media/assets/img/bg-signup.jpg');">

            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form class="form-signup" id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Email address input-->
                            <div class="row input-group-newsletter">
                                <div class="col"><input class="form-control" id="emailAddress" type="email" placeholder="Enter email address..." aria-label="Enter email address..." data-sb-validations="required,email" /></div>
                                <div class="col-auto"><button class="btn btn-primary disabled" id="submitButton" type="submit">Notify Me!</button></div>
                            </div>
                            <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">An email is required.</div>
                            <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email is not valid.</div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3 mt-2 text-white">
                                    <div class="fw-bolder">Form submission successful!</div>
                                     </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}